<!DOCTYPE html>
<html lang="ja-jp">
  <head>
    <meta charset='utf-8'>
    <title>PDF出力</title>
  </head>
  <body>
    <table id="table_id">
      <thead>
        <tr>
          <th>注文者</th>
          <th>枚数</th>
          <th>オーダーID</th>
        </tr>
      </thead>
      <tbody>
        {% for row in dataset %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>